@section PageStyles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css" />
}
<div class="page-content">
    <h1 class="page-title">
        My Calendar
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Student">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                My Calendar
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered" id="">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div id="calendar" class="has-toolbar"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section PageScripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.js"></script>
    <script>

        var AppCalendar = function () {

            return {
                init: function () {
                    this.initCalendar();
                },

                initCalendar: function () {

                    if (!jQuery().fullCalendar) {
                        return;
                    }

                    var date = new Date();
                    var d = date.getDate();
                    var m = date.getMonth();
                    var y = date.getFullYear();

                    var h = {};

                    if (App.isRTL()) {
                        if ($('#calendar').parents(".portlet").width() <= 720) {
                            $('#calendar').addClass("mobile");
                            h = {
                                right: 'title, prev, next',
                                center: '',
                                left: 'agendaDay, agendaWeek, month, today'
                            };
                        } else {
                            $('#calendar').removeClass("mobile");
                            h = {
                                right: 'title',
                                center: '',
                                left: 'agendaDay, agendaWeek, month, today, prev,next'
                            };
                        }
                    } else {
                        if ($('#calendar').parents(".portlet").width() <= 720) {
                            $('#calendar').addClass("mobile");
                            h = {
                                left: 'title, prev, next',
                                center: '',
                                right: 'today,month,agendaWeek,agendaDay'
                            };
                        } else {
                            $('#calendar').removeClass("mobile");
                            h = {
                                left: 'title',
                                center: '',
                                right: 'prev,next,today,month,agendaWeek,agendaDay'
                            };
                        }
                    }
                    
                    $('#calendar').fullCalendar('destroy');
                    $('#calendar').fullCalendar({
                        header: h,
                        defaultView: 'agendaWeek',
                        slotMinutes: 15,
                        editable: false,
                        droppable: false,
                        minTime: "08:00:00",
                        maxTime: "21:00:00",
                        slotDuration: '00:15:00',
                        eventSources: [
                            {
                                url: '/Student/Courses/Calendar'
                            }
                        ],
                        eventRender: function (event) {
                            return (event.ranges.filter(function (range) {

                                return (event.start.isBefore(range.end) &&
                                    event.end.isAfter(range.start));

                            }).length) > 0;
                        }
                    });
                }
            };
        }();

        jQuery(document).ready(function () {
            AppCalendar.init();
        });

    </script>
}