@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to BuH</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @@media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Welcome to BuH: Student Course Management System</h1>
          <p class="lead">This is a prototyping build. To begin, select the user role you wish to impersonate:</p>
          <p>
              <a href="/Admin" class="btn btn-primary">Administrator</a>
              <a href="/Student" class="btn btn-success">Student</a>
          </p>
        </div>
      </div>
    </div>

     <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

  </body>

</html>
