<div class="page-content">
    <h1 class="page-title">
        Enrollment Cart
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Student">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                Enrollment Cart
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group">
                <a class="btn btn-fit-height blue" href="/Student/Enroll">
                    <i class="fa fa-plus"></i> Enroll In Class
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <h3>Fall 2017</h3>
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="">
                        <thead>
                            <tr>
                                <th> Room </th>
                                <th> Times </th>
                                <th> Professor </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th> Course1 </th>
                                <th> Monday 4pm / Tuesday 4pm </th>
                                <th> Prof Name </th>
                                <th>
                                    <div class="btn-group">
                                        <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                            Course Options
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-left" role="menu">
                                            <li>
                                                <a href="javascript:;">
                                                    Drop Course
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th> Course2 </th>
                                <th> Wednesday 4pm / Thursday 4pm </th>
                                <th> Prof Name </th>
                                <th>
                                    <div class="btn-group">
                                        <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                            Course Options
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-left" role="menu">
                                            <li>
                                                <a href="javascript:;">
                                                    Drop Course
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                            <tr>
                                <th> Course3 </th>
                                <th> Friday 4pm </th>
                                <th> Prof Name </th>
                                <th>
                                    <div class="btn-group">
                                        <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                            Course Options
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-left" role="menu">
                                            <li>
                                                <a href="javascript:;">
                                                    Drop Course
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section PageScripts{
    <script>
        $(document).ready(function () {

        });
    </script>
}
