<div class="page-content">
    <h1 class="page-title">
        Checkout Results
    </h1>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Checkout Success. Returning to your courses page.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                                <div class="btn-group">
                                    <a class="btn btn-fit-height blue" href="/Student/Courses">
                                        <i class="fa fa-smile-o"></i> OK
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section PageScripts{

    }
