@model IEnumerable<WebApp.Models.Major>
<div class="page-content">
    <h1 class="page-title">
        Enrollment
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Student/">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                Enrollment
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Select Enrollment Semester
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Enter Three Letter Major ID
                                </label>
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Enter Course Number
                                </label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <div class="btn-group">
                                    <a class="btn btn-fit-height blue" href="">
                                        <i></i> Clear
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-fit-height blue" href="/Student/Enroll/1/Courses">
                                        <i></i> Search
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section PageScripts{

    }
