@model IEnumerable<WebApp.Models.Account>
<div class="page-content">
    <h1 class="page-title">
        Students
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Admin">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                Students
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group">
                <a class="btn btn-fit-height blue" href="/">
                    <i class="fa fa-plus"></i> Create Student
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="studentList">
                        <thead>
                            <tr>
                                <th> First Name </th>
                                <th> Last Name </th>
                                <th> Last Login </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var student in Model)
                                {
                                <tr>
                                    <th><a href="/Admin/Students/@student.Id">@student.firstname</a></th>
                                    <th>@student.lastname</th>
                                    <th>@student.lastlogin.ToLongDateString()</th>
                                </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section PageScripts{
    <script>
        $(document).ready(function () {
            $("#studentList")
                .dataTable();
        });
    </script>
}
