@model String
<div class="page-content">
    <h1 class="page-title">
        Dashboard
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            </li>
        </ul>
    </div>
    <div class="note note-info">
        <p> The dashboard has not yet been implemented. Connection String: @Model</p>
    </div>
</div>