@model IEnumerable<WebApp.Models.Semester>
<div class="page-content">
    <h1 class="page-title">
        Semesters
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Admin">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                Semesters
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group">
                <a class="btn btn-fit-height blue" href="#create-semester" data-toggle="modal">
                    <i class="fa fa-plus"></i> Create Semester
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="semesterList">
                        <thead>
                            <tr>
                                <th> Season </th>
                                <th> Year </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var semester in Model)
                            {
                                <tr>
                                    <th><a href="/Admin/Semesters/@semester.Id">@semester.season</a></th>
                                    <th>@semester.year</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modals -->
<div class="modal fade" id="create-semester" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Create Semester</h4>
            </div>
            <form asp-route="areaRoute" asp-route-area="Admin" asp-route-controller="Semesters" asp-route-action="Create" method="post" id="CreateSemesterForm">
                <div class="modal-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Season</label>
                                    <select class="form-control" name="season">
                                        <option>Fall</option>
                                        <option>Winter</option>
                                        <option>Spring</option>
                                        <option>Summer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Year</label>
                                    <input class="form-control" type="text" name="year" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                    <input id="CreateSemesterSubmitBtn" type="submit" value="Create" class="btn green-jungle" />
                </div>
            </form>
        </div>
    </div>
</div>
@section PageScripts{
    <script>
    $(document).ready(function () {
        $("#semesterList")
            .dataTable();
        $('#datetimepicker1').datepicker({

        });
    });
    </script>
}
